 <!-- <nav class="navbar navbar-expand-sm bg-primary navbar-dark">  -->
  <!-- Links -->
    <!-- <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="add" class="nav-link" routerLinkActive="active">Novo</a>
    </li>
    <li class="nav-item">
      <a routerLink="persons" class="nav-link" routerLinkActive="active">Listar</a>
    </li>
  </ul>
</nav>
<div class="container">
  <br>
  <h2 style="text-align: center;">{{title}}</h2>
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <span>All Rights Reserved 2020 @RodrigoRP</span>
  </div>
</footer>   -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="">RodrigoRP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<router-outlet></router-outlet>


 <router-outlet></router-outlet> 
